.choice-tab td, .choice-tab th{
    border: solid black 2px;
    padding: 20px;
    font-size: 35px;
    text-align: center;
}

.choice-rad {
    display: none;
}

.choice-rad + label::before {
    content: "\2713";
    display: inline-block;
    width: 40px;
    border: black 2px solid;
    border-radius: 10px;
    font-size: 35px;
    font-weight: 800;
    margin-right: 15px;
    color: white;
}

.choice-rad:checked + label::before {
    color: forestgreen;
}

.cover {
    background-color: black;
    padding: 10px;
    width: 85px;
}

.tile-content {
    padding: 10px;
    width: 85px;
}

.n-cell {
    visibility: hidden;
}

