.choice-tab td, th{
    border: solid black 2px;
    padding: 20px;
    font-size: 35px;
    text-align: center;
}

.cover {
    background-color: black;
    padding: 10px;
}

.n-cell {
    visibility: hidden;
}

